#log {


  background-color:black;
  height:100px;
  width:100%;
  position:fixed;

}
#log1 {
  color:blue;
  font-size:50px;
  margin-left:610px;

}

#Registr {
  margin-left:980px;
  font-size:20px;
  color:blue;
}
#vod {
  margin-left:34px;
  font-size:20px;
  color:blue;
}
#pin {
  border:solid;
  width:30%;
  background-color:green;
  margin-top:130px;
  border-radius:20px;
  height:290px;
  font-size:20px;
}
.vid {
  text-align:center;
  font-size:30px;
  border:solid;
  padding:unset;
  width:99%;
  display:block;
}
.nt {
  border-radius: 10px;
  font-size:30px;
  transition-duration:500ms;
  text-decoration:none;
  background-color:white;
  color:black;
}
.nt:hover {
  font-size:35px;
  color:blue;
  transition-duration:500ms;
  background-color:red;
}
html {
  background-image:url(https://c.pxhere.com/photos/48/30/photo-94841.jpg!d);
  background-position:center center;
  background-attachment:fixed;
  background-repeat:no-repeat;
  -webkit-background-size:cover;
  -o-background-size:cover:
  background-size : cover;
}
#t1 {
  font-size:34px;
  margin-left:680px;
}
#t2 {
  font-size:34px;
  margin-left:680px;
}
#t3 {
  font-size:34px;
  margin-left:680px;
}
#t4 {
  font-size:34px;
  margin-left:680px;
}
#tl2 {
  font-size:30px;
  margin-left:400px;
}
#fk {
  font-size:45px;
  text-decoration:none;
  transition-duration:500ms;
  color:black;
 }
#fk:hover {
  color:green;
  transition-duration:500ms;
}
#tab {
  border:solid;
  background-color:white;
  width:270px;
  border-radius:20px;
  position:fixed;
  margin-top:-1700px;

}
