#log {
  text-align:center;
  font-size:50px;
  color:blue;
  background-color:black;
  height:130px;
  width:100%;

}
#pin {
  border:solid;
  width:25%;
  background-color:green;
  margin:10px;
  border-radius:20px;
  height:290px;
  font-size:20px;
}
.vid {
  text-align:center;
  font-size:30px;
  border:solid;
  padding:unset;
  width:99%;
  display:block;
}
.nt {
  border-radius: 20px;
  font-size:20px;
  transition-duration:500ms;
}
.nt:hover {
  font-size:30px;
  color:blue;
  transition-duration:500ms;
  background-color:red;
}
body {
  background-color:blue;
}
#t1 {
  font-size:34px;
  margin-left:680px;
}
#t2 {
  font-size:28px;
  margin-left:400px;
}
#tab {
  border:solid;
  background-color:white;
  width:90px
}
